@charset "utf-8";
@import "hcc_schedule.css";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 4

   Hamilton Conference Center Style Sheet
   Author: Diego Sandoval
   Date:   12/11/18

   Filename:         hcc_styles.css
   Supporting files: hcc_schedule.css

*/
/* Header styles */
/* Top Nav Bar Styles */
/* Section Styles */
/* Article Styles */
/* Dicription List */
/* Footer */