@charset "utf-8";
@import "hcc_schedule.css";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 4

   Hamilton Conference Center Style Sheet
   Author: Diego Sandoval
   Date:   12/11/18

   Filename:         hcc_styles.css
   Supporting files: hcc_schedule.css

*/

/* Article Styles */
article {
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    -webkit-flex: 1 1 auto;

    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    flex: 1 1 auto;
    justify-content: space-around;

    background-color: aliceblue;
    box-shadow: 0 0 25px;

    width: 98%;
    height: fit-content;
    margin: 10px auto;
}

#articleContent {
    -webkit-flex: 1 2 auto;
    flex: 1 2 auto;

    height: fit-content;
    width: fit-content;
    text-indent: 1em;
    font-size: 1em;
    padding: 5px;
    margin: 5px;
}

h2 {
    text-align: center;
}

/* Dicription List */
dl {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    -moz-column-rule: 2px solid gray;
    -webkit-column-rule: 2px solid gray;

    column-count: 2;
    column-gap: 30px;
    column-rule: 2px solid gray;
    margin: 5px;
}

.dlListBoxes {
    -webkit-column-break-after: avoid-column;
    break-inside: avoid;
    padding: 0px 0px 5px;
    margin: 5px auto;
    width: 95%;
}

dl hr {
    margin: 2px 0;
}

article dt {
    font-size: 1.25em;
    padding-left: 5px;
}

article dd {
    font-size: 1em;
    padding-left: 5px;
}

/* Footer */
footer {
    -webkit-flex: 1 1 auto;
    -webkit-order: 100;

    background-color: aliceblue;
    display: block;

    flex: 1 1 auto;
    order: 100;

    box-shadow: 0 0 25px;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    margin: 15px auto 5px;
    width: 99%;
}