/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 4

   Schedule Table Style Sheet
   Author: Diego Sandoval
   Date:   12/11/18s

   Filename:         hcc_schedule.css
   Supporting Files: 

*/
/* Table Styles */
table {
    background-color: white;
    border: 5px solid black;

    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 25px;
}

td {
    border: 3px solid black;
    line-height: 1.4em;
    padding: 8px;

    color: black;
    font-size: 1em;
    vertical-align: top;
}

th {
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;

    border: 3px solid black;
    line-height: 1.4em;
    padding: 8px;

    background-color: sandybrown;
    font-weight: normal;
    color: black;
}

/* Caption Styles */
caption {
    caption-side: bottom;
    text-align: right;
}

/* Table Row */
tr {
    min-height: 1px;
}

/* Column Styles */
col#firstcol {
    width: 16%;
}

col#dataCol {
    width: 12%;
}

/* Cell styles */
.open {
    background-color: aliceblue;
}

.taken {
    background-color: coral;
}

/* Table Header Styles */
thead {
    height: 60px;
}

thead th#theadThFirst {
    font-size: 2em;
    background-color: aliceblue;
}

thead th.theadThFirst {
    font-size: 2em;
}

thead th.theadTopRow {
    background: transparent;
    color: black;
}

/* Table Footer Style */
tfoot td {
    background-color: gray;
    text-align: center;
    font-size: 1.75em;
    color: beige;
}

tfoot tr#tfoot2 td {
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    color: black;
}

tfoot tr#tfoot2 td#f1 {
    font-size: .9em;
}